{% extends "base.html" %}
{% load static %}

{% block title %}
{{ post.location }}
{% endblock %}

{% block content %}
<main>
        <article>
            <ul>
                <li>Место: {{ post.location }}</li>
                <li>Дата: {{ post.date }}</li>
                <li>Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a></li>
            </ul>
            <p>
                {{ post.text|linebreaks }}
            </p>
        </article>      
        <a class="btn btn-primary" href="{% url 'blog:index' %}">Назад к списку постов</a>
</main>
{% endblock %}